:root {
  --color-background: #222527;
  --color-darkest: #2d3033;
  --color-dark: #333739;
  --color-medium: #383c3e;
  --color-light: #45494b;
  --color-light-2: #3f494d;
  --color-lightest: #606668;
  --color-font-light: #eee4dc;
  --shadow-strong: 0.5rem 2rem 5rem rgba(0, 0, 0, 0.4);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.container {
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.app {
  height: 88rem;
  margin: 2rem;
  width: 100%;
  max-width: 168rem;
  display: flex;
  align-items: stretch;
  overflow: hidden;
  border-radius: 1.6rem;
  background-color: var(--color-medium);
  box-shadow: var(--shadow-strong);
}

.app__calendar {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 8rem;
  padding-top: 3.2rem;
}

.calendar__month {
  font-size: 3rem;
  margin-bottom: 6.4rem;
  text-align: center;
  color: var(--color-font-light);
}

.calendar__days {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}

.calendar__row {
  display: flex;
  flex-grow: 1;
  gap: 10px;
}

.calendar__day {
  background-color: green;
  flex: 1;
  height: 100%;
}

.app__extension {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background-color: var(--color-darkest);
}

.app__events {
  flex: 1;
}

.app__info {
  flex: 1;
  background-color: var(--color-dark);
}
