/* SETUP */

:root {
  --color-primary: #54899a;
  --color-background: #222527;
  --color-darkest: #2d3033;
  --color-dark: #333739;
  --color-medium: #383c3e;
  --color-light: #45494b;
  --color-light-2: #3f494d;
  --color-lightest: #606668;
  --color-font-light: #eee4dc;
  --shadow-strong: 0.5rem 2rem 5rem rgba(0, 0, 0, 0.4);
  --shadow-light: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
  --shine-light: 0 -0.3rem 0.5rem -0.3rem rgba(255, 255, 255, 0.1);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

/* MAIN */

.container {
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  height: 95vh;
  margin: 2rem;
  width: 100%;
  max-width: 168rem;
  display: flex;
  align-items: stretch;
  overflow: hidden;
  border-radius: 1.6rem;
  background-color: var(--color-medium);
  box-shadow: var(--shadow-strong);
}

/* CALENDAR */

.app__calendar {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 8rem;
  padding-top: 3.2rem;
}

/* CALENDAR TITLE */

.calendar__month {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  text-align: center;
}

.month__title {
  font-size: 3rem;
  margin: 0 4rem;
  color: var(--color-font-light);
}

.month__button {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  background-color: var(--color-light);
  color: var(--color-font-light);
  cursor: pointer;
  border: none;
  box-shadow: var(--shadow-light);
  transition: all 0.1s;
}

.month__button:hover {
  transform: translateY(-1px);
}

.month__button:hover,
.month__button:focus {
  outline: none;
  filter: brightness(110%);
}

.month__button:active {
  transform: traslateY(0);
  filter: brightness(90%);
  box-shadow: none;
}

/* CALENDAR NAMES */

.calendar__names {
  color: var(--color-font-light);
  font-size: 1.6rem;
}

.calendar__names ul {
  list-style: none;
  display: flex;
  gap: 0.8rem;
}

.calendar__names li {
  flex: 1;
  text-align: center;
  margin-bottom: 1.6rem;
}

/* CALENDAR DAYS */

.calendar__days {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.8rem;
}

.calendar__row {
  display: flex;
  flex: 1;
  gap: 0.8rem;
}

.calendar__row:first-child .calendar__day--inactive {
  box-shadow: var(--shine-light);
}

/* DAY CARD */

.calendar__day {
  display: flex;
  cursor: pointer;
  background-color: var(--color-light);
  color: var(--color-font-light);
  border-radius: 0.4rem;
  padding: 1.6rem;
  flex: 1;
  height: 100%;
  box-shadow: var(--shadow-light);
  transition: all 0.1s;
}

.calendar__day:not(.calendar__day--selected):hover,
.calendar__day:focus {
  outline: none;
  filter: brightness(110%);
}

.calendar__day:not(.calendar__day--selected):hover {
  transform: translateY(-3px);
}

.calendar__day:not(.calendar__day--selected):active {
  transform: translateY(0);
  box-shadow: none;
  filter: brightness(90%);
}

.day__events {
  flex: 1;
}

.day__number {
  font-size: 3rem;
  text-align: right;
  line-height: 1;
  display: flex;
  align-items: flex-end;
  font-family: "Oswald", sans-serif;
  user-select: none;
}

.calendar__day--weekend {
  background-color: var(--color-light-2);
}

.calendar__day--inactive {
  background-color: var(--color-medium);
  opacity: 0.3;
}

.calendar__day--selected {
  background-color: var(--color-dark);
  box-shadow: inset 0 0 0 2px var(--color-primary);
  cursor: initial;
}

/* EXTENSION */

.app__extension {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background-color: var(--color-darkest);
}

.app__events {
  flex: 1;
}

.app__info {
  flex: 1;
  background-color: var(--color-dark);
}
