:root {
    --border-radius-big: 1.6rem;
    --border-radius-medium: 0.8rem;
    --border-radius-small: 0.4rem;

    --color-primary: #148cb3;
    --color-background: #222527;
    --color-darkest: #2d3033;
    --color-dark: #333739;
    --color-medium: #383c3e;
    --color-light: #45494b;
    --color-light-2: #3f494d;
    --color-lightest: #606668;
    --color-font: #eee4dc;
    --color-font-light: #eee4dc;
    --color-font-gray: #bcb5b0;
    --color-red-light: #bb5151;
    --color-red: #864c51; /* #733537 ; */
    --color-red-dark: #733537;
    --color-green: #506c44; /* #415f35; */
    --color-green-dark: #415f35;
    --color-green-light: #58ce24;
    --color-blue: #366378; /* #393f65; */
    --color-blue-dark: #393f65;
    --color-purple: #674e88; /* #4f3053; */
    --color-purple-dark: #4f3053;
    --color-yellow: #827f43;

    --shadow-strong: 0.5rem 2rem 5rem rgba(0, 0, 0, 0.4);
    --shadow-light: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
    --shadow-selected: inset 0 0 0 2px var(--color-primary);
}

[data-theme='light'] {
    --color-background: #b6b6b6;
    --color-darkest: #cbc9c5;
    --color-dark: #bebebe;
    --color-medium: #e3e3e1;
    --color-light: #f2f2f2;
    --color-light-2: #f2efe6;
    --color-lightest: #ffffff;
    --color-font: #3f3f3f;
    --color-font-gray: #888887;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    touch-action: manipulation;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    transition: background-color 0.4s color 0.3s;
}

body {
    background-color: var(--color-background);
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    color: var(--color-font);
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hidden {
    visibility: hidden;
}

.scrollable {
    overflow: scroll;
    padding: 2.4rem;
    padding-right: 0;
}

::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 90rem) {
    html {
        font-size: 56.25%;
    }
}

@media only screen and (max-width: 35rem) {
    html {
        font-size: 50%;
    }
}

@media only screen and (max-width: 25rem) {
    html {
        font-size: 43.75%;
    }
}
