.calendar__dayNames {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  opacity: 0.5;
  margin-top: 2.4rem;

  @media only screen and (max-width: 35rem) {
    margin: 1.2rem 0;
  }
}
