.modal__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px) brightness(0.8);
  transition: all 0.2s;
  display: flex;
}

.modal__body {
  margin: auto;
  width: 80rem;
  max-width: 90vw;
  font-size: 1.6rem;
  background-color: var(--color-light);
  padding: 2.4rem;
  border-radius: 0.8rem;
  box-shadow: 0.3rem 0.3rem 3rem rgba(0, 0, 0, 15%);

  animation: 1s ease-out 1 slide;

  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(-10rem);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
