.eventCard {
  background-color: var(--color-light);
  border-radius: 0.8rem 0.8rem 0.4rem 0.4rem;
  box-shadow: var(--shadow-light);
  overflow: hidden;

  &__topbar {
    box-shadow: var(--shadow-light);
    background-color: var(--color-lightest);
    padding: 0.4rem 1.6rem;
    font-size: 1.4rem;
    width: 100%;
    border-radius: 0.4rem;
    font-weight: bold;
    display: flex;
    align-items: center;

    &--red {
      background-color: var(--color-red);
    }

    &--purple {
      background-color: var(--color-purple);
    }

    &--blue {
      background-color: var(--color-blue);
    }

    &--yellow {
      background-color: var(--color-yellow);
    }

    &--green {
      background-color: var(--color-green);
    }
  }

  &__title {
    line-height: 1;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: auto;
  }

  &__buttons {
    display: flex;

    & > * {
      opacity: 0;
    }
  }

  &:hover .eventCard__buttons > * {
    opacity: 1;
  }

  &__panel {
    display: flex;
    padding: 1.6rem;
  }

  &__tags {
    opacity: 0.8;
    font-size: 1.4rem;
    margin-right: 1.6rem;
  }

  &__tag {
    white-space: nowrap;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 0.6rem;

    .material-icons {
      margin-right: 0.4rem;
      opacity: 0.8;
      font-size: 1.6rem;
      position: relative;
      bottom: 0.1rem;
    }
  }

  &__description {
    font-size: 1.4rem;
    white-space: pre-line;
  }

  @media only screen and (max-width: 35rem) {
    border-radius: 0;

    &__topbar {
      border-radius: 0;
    }

    &__panel {
      flex-direction: column;
      padding: 1.2rem;
    }

    &__tags {
      display: flex;
      justify-content: flex-start;
    }

    &__tag {
      margin-right: 1.2rem;
    }
  }
}
